Repository Thevapriyan07/Design-Patterns-Resources, pull requests merged in 2023-10, with the labels that each got.

#34 PR-4 Composite-method.MD
  3-Python/Composite-method.MD
Labels: good first issue, hacktoberfest, Python, hacktoberfest-accepted

#47 Create Iterator_Pattern.MD
  2-JavaScript/Iterator_Pattern.MD
Labels: good first issue, hacktoberfest, JavaScript, hacktoberfest-accepted

#49 Create Proxy_Pattern_in_javascript.MD
  2-JavaScript/Proxy_Pattern.MD
Labels: hacktoberfest, JavaScript, hacktoberfest-accepted

#51 Create Decorator-Pattern.MD
  2-JavaScript/Decorator-Pattern.MD
Labels: hacktoberfest, JavaScript, hacktoberfest-accepted

#55 Designed Abstract Factory Pattern in Java
  1-Java/5-DP Abstract_Factory_Pattern.md
Labels: good first issue, hacktoberfest, JAVA, hacktoberfest-accepted

#63 Create Dp_Mediator_Pattern.MD
  1-Java/Dp_Mediator_Pattern.MD
Labels: hacktoberfest, JAVA, hacktoberfest-accepted

#65 Create Dp_Facade_Pattern.MD
  1-Java/Dp_Facade_Pattern.MD
Labels: hacktoberfest, JAVA, hacktoberfest-accepted

#64 Create Dp_Proxy_Pattern.MD
  1-Java/Dp_Proxy_Pattern.MD
Labels: hacktoberfest, JAVA, hacktoberfest-accepted

#66 Create Composite_pattern.md
  1-Java/Composite_pattern.md
Labels: good first issue, hacktoberfest, JAVA, hacktoberfest-accepted

#68 Create Bridge_pattern.md
  1-Java/Bridge_pattern.md
Labels: hacktoberfest, JAVA, hacktoberfest-accepted

#72 Create Observer_pattern.md
  1-Java/Observer_pattern.md
Labels: hacktoberfest, JAVA, hacktoberfest-accepted

#73 Create Strategy_pattern.md
  1-Java/Strategy_pattern.md
Labels: hacktoberfest, JAVA, hacktoberfest-accepted
